/* For All Button Properties Curly Braces Are Used */
/* button {
            background-color: rgb(255, 0, 0);
            color: white;
            border: none;
            height: 36px;
            width: 105px;
            border-radius: 2px;
            cursor: pointer;
        } */
/* For Specific Buttons class Properties(CSS) Dot At Starting of class name and Curly Braces Are Used */
.subscribe-button {
  background-color: rgb(255, 0, 0);
  color: white;
  border: none;
  /* height: 36px;
            width: 105px; */
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: opacity 0.15s;
  vertical-align: top;
}

.subscribe-button:hover {
  /* background-color: rgb(204, 57, 57); */
  opacity: 0.8;
}

.subscribe-button:active {
  /* background-color: blue; */
  opacity: 0.5;
}

.join-button {
  vertical-align: top;
  background-color: white;
  height: 36px;
  width: 60px;
  /*  */
  border-color: rgb(0, 195, 255);
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  color: rgb(0, 195, 255);
  cursor: pointer;
  transition: background-color 1s, color 1s;
}

.join-button:hover {
  background-color: rgb(0, 195, 255);
  color: white;
}

.join-button:active {
  opacity: 0.7;
}

.tweet-button {
  vertical-align: top;
  margin-left: 8px;
  background-color: rgb(0, 89, 255);
  border: none;
  color: white;
  height: 36px;
  width: 80px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: box-shadow, 0.2s;
}

/* sudo class */
.tweet-button:hover {
  /* box-shadow: 0px 3px 8px black; */
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
}

.click-button {
  margin-left: 10px;
  background-color: green;
  color: white;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 25px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.5);
}

.click-button:active {
  margin-top: 3px;
  margin-left: 13px;
  box-shadow: none;
}

.pagination-buttons {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 500;
  font-size: 20px;
}

.a-class {
  font-size: x-large;
}

.strech-button {
  margin-left: 10px;
  background-color: green;
  color: white;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 25px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: padding, 1s;
}

.strech-button:hover {
  padding: 50px;
}

.widthIncrease-button {
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: padding, 1s;

  /*  */
  background-color: green;
  color: white;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  border: none;
}

.widthIncrease-button:hover {
  padding-left: 35px;
  padding-right: 35px;
  margin-left: 0px;
  margin-right: 0px;
}
